.pagination-controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.pagination-buttons{
    font-size: 24px;
}

.pagination-buttons:hover{
    cursor: pointer;
}