@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

.itemShop{
    width: 10%;
    padding: 10px;
}

@media all and (max-width: 992px) {
    .itemShop {
        width: 50%;
        padding: 10px;
    }
}
