.footer{
    width: 100%;
    padding-top: 10px;
    position: relative;
    background-image: url('https://cdn2.unrealengine.com/battle-pass-promo-footer-bg-desktop-1920x1228-c2021f528166.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}
