.section-title{
    font-family: 'Boogaloo', cursive;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.6rem;
    color: #ffc107;
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 0;
}