.battlepass-title, .battlepass-chapterseason, .rewards-title{
    font-size: 3rem;
    font-family: 'Boogaloo', cursive;
    font-weight: bold;
    text-transform: uppercase;
}

.battlepass-chapterseason{
    font-size: 2rem;
    font-family: 'Boogaloo', cursive;
    font-weight: bold;
    text-transform: uppercase;   
}

.battlepass-page-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}

.rewards-content{    

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.battlepass-reward-icon{
  width: 320px;
  margin-top: 20px;
}

.rewards-page-number{
    font-size: 2rem;
    font-family: 'Boogaloo', cursive;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 992px) {
  .battlepass-reward-icon{
    width: 180px;
    margin-top: 10px;
  } 

  .battlepass-video{
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .battlepass-reward-icon{
    width: 120px;
    margin-top: 10px;
  } 

  .battlepass-title, .battlepass-chapterseason, .rewards-title{
    font-size: 1.4rem;
  }

  .rewards-page-number{
    font-size: 1rem;
  }
}